<div class="form-group">
</div>


<div class="panel panel-primary">
  <div class="panel-heading"><h4>Calculator</h4></div>
  <div class="panel-body"><input type="text" class="form-control"/>
    <div class="button-wrapper">
      <div class="btn-group btn-toolbar" role="group">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group btn-wrapper" role="group" aria-label="...">
          <button type="button" class="btn btn-default">1</button>
          </div>
          <div class="btn-group btn-wrapper" role="group" aria-label="...">
          <button type="button" class="btn btn-default">2</button>
          </div>
          <div class="btn-group btn-wrapper" role="group" aria-label="...">
          <button type="button" class="btn btn-default">3</button>
          </div>
          <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default">/</button>
          </div>
          <div class="btn-group " role="group" aria-label="...">
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
          </button>
          </div>
          <div class="btn-group " role="group" aria-label="...">
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
          </button>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>
